extends ../layout

include ../feedback/index

block content
    section.home
        | Welcome, #{user.name}!
        if feedback
            +feedback(feedback, 'error')
        form(action='/logout', method='POST')
            button(type='submit') Logout